* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}

ul > li > a {
    text-decoration: none;
}

#logo {
    width: 15%;
}

.topo {
    width: 100%;
    text-align: center;
    background-color: #21003F;
    color: white;
}

.topo .logon {
    float: right;
    padding-top: 60px;
    padding-right: 40px;
}

.topo .bem-vindo {
    float: left;
    padding-top: 95px;
}

.topo li {
    list-style-type: none;
}

#logo {
    width: 15%;
}

#login {
    padding: 20px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #21003F;
    padding: 15px 30px;
}

nav ul > li > a {    
    text-decoration: none;
    font-weight: bold;
}

.button1 {      
    padding: 17px 80px;
    background-color: #FFAD00;
    color: white;
}

.button2 {
    padding: 17px 80px;
    background-color: #F38D18;
    color: white;
}

.button3 {
    padding: 17px 80px;
    background-color: #BB3B66;
    color: white;
}

.button4 {
    padding: 17px 80px; 
    background-color: rgb(146, 45, 78);
    color: white;
}

.button5 {
    padding: 17px 80px;
    background-color: rgb(119, 30, 60);
    color: white;
    
}

.button6 {
    padding: 17px 80px;
    background-color: #801D6B;
    color: white;
}

.button7 {
    padding: 4px 7px;
    font-size: 1.5em;
    background-color: #FFAD00;
    color: white;
}

.button8 {
    margin: 0 7px;
    font-size: 1.5em;
    padding: 4px 7px;
    background-color: #F38D18;
    color: white;
}
#banner {
    background-image: url(balada.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px;       
}

#historia {
    text-align: center;
    color: white;
    background-color: #21003F;
    font-size: 1.5em;
    padding: 20px 0;
}

#fotos-local {
    text-align: center;
    background-color: #21003F;
    padding: 100px 0;
}

.foto-local {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    color: white;  
}

.foto-local > img {
    width: 50%;
    padding: 50px;
}

#local {
    display: flex;
    flex-direction: column; 
    padding: 20px 150px;   
}

@media (max-width: 1280px) {
    
}