<head>
    <link rel="stylesheet" type="text/css" href="~/css/style-resultado.css">
</head>
<main>
    <h2>@ViewData["Action"] deu ruim!</h2>
    <a asp-controller="Home" asp-action="Index" class="button1">Voltar para o início</a>
</main>