<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portifólio Everton</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <header>
        <h1>Everton Balioti</h1>
    </header>
    <hr />
    <main>
<section id="Perfil">
    <img src="img/profile-default2.png"; width="80px">
    <h3>Perfil</h3>
    <p>20/07/1984</p>
    <p>35 Anos</p>
</section>
    <hr />
<section id="Localização">    
    <h3>Localização</h3>
    <p>São Paulo</p>
    <p>Brasil</p>
</section>
    <hr />
<section id="Educação">
    <img src="img/img_452189.png"; width="80px">
    <h3>Educação</h3>
    <p><strong>Ensino Médio</strong></p>
    <p><em>Carmosina Montero</em></p>
    <p><strong>Ensino Superior</strong></p>
    <p><em>Uninove</em></p>
</section>
    <hr />
<section id="Experiência">
    <h3>Experiência</h3>
    <p>Técnico de Informática - Dev</p>
    <p><em>SENAI</em></p>
    <p>Publicidade Propaganda</p>
</section>
    <hr />
<section id="Habilidades">
    <img src="img/lamp-icon-png-5.jpg"; width="80px">
    <h3>Habilidades</h3>
    <ul>
        <li>Desenvolvimento de Sistemas</li>
    </ul>
</section>
    <hr />
    
    <h3>Hobbies</h3>
    <ul>
        <li>Andar de Bicicleta</li>
        <li>Dança de Salão</li>
        <li>Correr</li>
    </ul>

    <hr />
</main>
    <img src="img/trollert4-6.png"/>
    </body>
</html>