<!DOCTYPE html>
<html lang="pt-br">
    <title>Contato - Rolê Top</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-contato.css">
<main>
    <body>
        <div id="contato">
            <br />
            <h2>Contato</h2>
            <br />
            <div class="images">
                <img id="icon1" src="img/whatsapp-icone-1.png">
                <p>(00)1234-5678</p>
            </div>
            <div class="images">
                <img id="icon2" src="img/xgmail-cone-icon.png">
                <p>roletopeventos@gmail.com</p>
            </div>
            <div class="images">
                <img id="icon3" src="img/zfacebook-icone-icon-1.png">
                <p>Rolê Top Eventos</p>
            </div>
        </div>
    </main>    
</body>
</html>