<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início - Rolê Top</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <main>
        <section id="banner">
            <img src="img/Screenshot_1 (5).png">
        </section>

        <section id="historia">
            <h2>Sobre Nós</h2>
            <p>A empresa Rolê Top foi fundada por Cesar Sportore e pelo seu sócio Alexandre Fukaya. Atua no ramo de eventos desde 2015.</p>
        </section>

        <section id="fotos-local">
            <div id="local">
                <div class="foto-local">
                    <img src="img/Screenshot_1.png">
                    <img src="img/Screenshot_2.png">
                </div>
                <div class="foto-local">
                    <img src="img/Screenshot_3.png">
                    <img src="img/Screenshot_4.png">
                </div>
            </div>
        </section>
    </main>    
</body>
</html>