<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos Feitos - Rolê Top</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-eventos.css">
</head>
<body>
    <main>
        <h3>Eventos Feitos</h3>
        <br />
        <h4>Baladas</h4>
        <section id="balada">            
            <div>
                <img src="img/Balada-1-site.png">
            </div>
            <div>
                <img src="img/baladas-em-sao-paulo-09-730x449-site.jpg">
            </div>
            <div>
                <img src="img/amelhores-baladas-em-orlando-site.jpg">
            </div>
        </section>
        <h4>Casamentos</h4>
        <section id="casamentos">            
            <div>
                <img src="img/casamento-buffet-catarina-bh-site.jpg">
            </div>
            <div>
                <img src="img/Móveis-para-casamento-Completa-Locações-Foto-Daniel-Hermes-site.jpg">
            </div>
            <div>
                <img src="img/espaco-para-casamento-em-sao-paulo-site.jpg">
            </div>
        </section>
    </main>
</body>
</html>