* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #21003F;    
}


main {
    background-color: #21003F;
    color: white;
    font-size: 1.5em;
}

#local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#local > div {
    background: #801D6B;
    padding: 10px;
}

#local > div > h3 {
    background: #801D6B;
    padding: 0 0 20px 0;
}

#local > div > p {
    background: #801D6B;
    padding: 0 0 20px 0;
}

#estrutura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;    
}

#estrutura > div {
    background: #801D6B;
    padding: 10px;
}

#estrutura > div > h3 {
    background: #801D6B;
    padding: 0 0 20px 0;
}

#estrutura > div > p {
    background: #801D6B;
    padding: 0 0 20px 0;
}

#planta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px 500px;
}

#planta > div {
    padding: 10px;
    text-align: center;
}

#planta > div > h3 {
    margin: 70px 800px;
    background-color: #801D6B;
}

#planta > div > img {
    width: 20%;
}

#img-planta2 {
    padding: 0 0 500px 0;
}

#maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10px;    
}

#maps > div > h3 {
    background-color: #801D6B;
    text-align: center;
    padding: 10px 0;
    margin: 0 200px;
}

footer {
    background-color: #21003F;
}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 165px;
    left: 0;
    background-color: #FFAD00;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.openbtn {
    position: fixed;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #FFAD00;
}

.sidenav1 {
    background-color: #F9C559;
    direction: rtl;
}

.sidenav2 {
    background-color: #F9CD70;
    direction: rtl;
}

.sidenav3 {
    background-color: #FCDA91;
    direction: rtl;
}

.sidenav4 {
    background-color: #F9E2AF;
    direction: rtl;
}

.sidenav5 {
    background-color: rgb(248, 232, 197);
    direction: rtl;
}

@media screen and (max-width: 1320px) {

    .button1 {
        padding: 15px 30px;
    }

    .button2 {
        padding: 15px 30px;
    }

    .button3 {
        padding: 15px 30px;
    }

    .button4 {
        padding: 15px 30px;
    }

    .button5 {
        padding: 15px 30px;
    }

    .button6 {
        padding: 15px 30px;
    }

}

@media screen and (max-width: 1220px) {

    .button1 {
        padding: 15px 10px;
    }

    .button2 {
        padding: 15px 10px;
    }

    .button3 {
        padding: 15px 10px;
    }

    .button4 {
        padding: 15px 10px;
    }

    .button5 {
        padding: 15px 10px;
    }

    .button6 {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 992px) {
    .button1 {
        padding: 15px 5px;
        font-size: 70%
    }

    .button2 {
        padding: 15px 5px;
        font-size: 70%
    }

    .button3 {
        padding: 15px 5px;
        font-size: 70%
    }

    .button4 {
        padding: 15px 5px;
        font-size: 70%
    }

    .button5 {
        padding: 15px 5px;
        font-size: 70%
    }

    .button6 {
        padding: 15px 5px;
        font-size: 70%
    }
}

@media screen and (max-width: 600px) {

    .button1 {
        padding: 8px 2px;
        font-size: 50%
    }

    .button2 {
        padding: 8px 2px;
        font-size: 50%
    }

    .button3 {
        padding: 8px 2px;
        font-size: 50%
    }

    .button4 {
        padding: 8px 2px;
        font-size: 50%
    }

    .button5 {
        padding: 8px 2px;
        font-size: 50%
    }

    .button6 {
        padding: 8px 2px;
        font-size: 50%
    }

    .button7 {
        padding: 5px 4px;
        font-size: 80%;
    }

    .button8 {
        padding: 5px 4px;
        font-size: 80%;
    }

    #banner {
        padding: 7px;
    }

    .bem-vindo {
        display: none;
    }

    #local {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {

    nav ul {
        justify-content: space-evenly;
    }
    .button1 {
        padding: 3px 7px;
        font-size: 41.5%;
    }

    .button2 {
        padding: 3px 7px;
        font-size: 41.5%;
    }

    .button3 {
        padding: 3px 7px;
        font-size: 41.5%;
    }

    .button4 {
        display: none;
        padding: 1px 10px;
        font-size: 40%;
    }

    .button5 {
        display: none;
        padding: 1px 10px;
        font-size: 40%;  
    }

    .button6 {
        padding: 3px 12px;
        font-size: 41.5%;    
    }

    .button7 {
        display: none;
    }

    .button8 {
        display: none;
    }

    .bem-vindo {
        display: none;
    }
}